#top{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    background-color:#8AEA92;
  }

#Login_parent {
    width: 100%;
    height: calc(100vh - 100px);
    box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
#big{
    font-size: 60px;
}
#Login_child {
    opacity: .85;
    width: 350px;
    height: 350px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
}

.Login_btn{
    cursor: pointer;
    font-size: 20px;

}

.Login_input {
    border: 3px ridge black;
    width: 250px;
    height: 25px;
    font: 1em sans-serif;
}